{% extends '../base.html' %}
{% block title %} onellvine | Cover Letter {% endblock %}

{% block body %}
    <h2>My Motovation to be a Software Developer</h2> <br>
    <div class="cover-letter">
        <p class="name"><b>Nellvine Oduor Ouma</b></p>
            <p class="tel">+254-1134-13035</p>
            <p class="anchor"><a href="https://www.linkedin.com/in/nellvine-llvine-0283091a1/">www.linkedin.com/in/onellvine</a></p>
            <p class="anchor"><a href="onellvine@gmail.com">onellvine@gmail.com</a></p>
            <p class="address">Dear Sir/Madam,</p>
            <p> My interest to become a web/software developer comes from the growing dependance and implementation of
                 software solutions to real-world problems. Am awaiting to graduate with a Bachelor’s degree in Mathematics
                  &amp; Computer Science from Jomo Kenyatta University of Agriculture and Technology.</p>

            <p>I have hands-on experience using SQL, Java, JavaScript and its frameworks like React JS , C/C++, PHP, and 
                Python languages to create and implement software applications.</p>

            <p>Using knowledge from some of these technologies, I have built several web and machine learning applications; one I would like to mention is the
                tour reservation application that integrates the MPESA-API for payments. The link to this project
                is https://github.com/onellvine/proxima_centauri/</p>

            <p>I have also worked as a frontend software engineer at Mambo Microsystems Inc., where I developed
                extensive user interfaces for websites and web applications. I managed to complete full websites
                written in PHP and Python frameworks while working on various personal projects. With these experiences, 
            I am confident I will be a worthy asset to your organization</p>

            <p>I look forward to a meeting where I can discuss my qualifications for this candidacy.</p>
            <p>Sincerely, Nellvine Oduor Ouma.</p>
    </div>
    <button class="btn-show">my cover letter</button>
{% endblock %}