{% extends '../base.html' %}

{% load static %}

{% block title %} onellvine | Home {% endblock %}

{% block body %}

<div class="row-flex">
    <div class="greetings">
        <h1>HI,</h1>
        <h2>I AM <font style="color: #8BC34A">NELLVINE OUMA</font>,</h2>
        <h3 style="color: #d84315;">A JR. SOFTWARE DEVELOPER ...</h3>
        <button>my cover letter</button>
        <button>my resume</button>
    </div>
    <div class="photo">
        <img src="{% static 'portfolio/images/php developer.png' %}" alt="Python Developer">
    </div>
</div>
<div class="clear"></div>
<div class="about-section">
    <div class="about-photo">
        <img src="{% static 'portfolio/images/technologist.png' %}" alt="About me" height="400px">
    </div>
    <div class="about-me">
        <h2>About me...</h2>
        <p>Enthusiastic programmer and software developer inspired to contribute to software solutions to real-world
            problems. Motivated, hardworking and ready to learn new things and adjust to the requirements of the
            industry. Intermediate to advanced understanding of software fields such as Database Systems, Web
            Development and Machine Learning. Seeking to grow knowledge in the fields of Computer Science and
            Mathematics as they contribute to solutions to real-world challenges.</p>
    </div>
</div>
<div class="clear"></div>
{% endblock %}