{% extends '../base.html' %}

{% load static %}

{% block title %} onellvine | Resume {% endblock %}

{% block body %}
    <h2>A reflection of my Career Development</h2><br>
    <div class="resume">
        <p style="text-align: center; font-size: 1.4em;">NELLVINE ODUOR OUMA</p>
        <p style="text-align: center;">
            +254113413035, onellvine@gmail.com, https://www.linkedin.com/in/one-llvine-0283091a1/ https://github.com/onellvine
        </p>
        <h3>PERSONAL SUMMARY</h3>
        <p>
            Enthusiastic programmer and software developer inspired to contribute to software solutions to
            real-world problems. Motivated, hardworking and ready to learn new things and adjust to the
            requirements of the industry. Intermediate to advanced understanding of software fields such as
            Database Systems, Web Development and Machine Learning. Seeking to grow knowledge in the
            fields of Computer Science and Mathematics as they contribute to solutions to real-world
            challenges.
        </p>
        <h3>CAREER HISTORY</h3>
        <ul>
            <li>
                <b>May 2020 - July 2020, Frontend Developer at Mambo Microsystems Inc.</b>
                I was tasked with creating websites using WordPress as the engine for frontend development. 
                I created the websites at the pleasure of understanding user experience and interface design principles.
            </li>
        </ul>
        <h3>PERSONAL ACHIEVEMENTS</h3>
        <ul>
            <li>
                I have also completed a personal project which is a hike reservation web application. I
                used Django framework for the backend and Bootstrap for the frontend. The site
                integrates M-PESA API for payment during the reservation. The git hub link for this
                project is https://github.com/onellvine/proxima_centauri
            </li>
            <li>
                Some other Artificial Intelligence tasks I have completed include a Named Entity
                Recognition program written in Python that utilizes NLTK and natural language
                processing to extract skills, professional achievements and people from a document such
                as a resume, at https://github.com/onellvine/NLTK_Named-Entity-Recognition
            </li>
            <li>
                I also completed an analysis of the Lalonde dataset from the causalinference library to
                study the causal inference of a job training program (the treatment) on the real earnings
                of an individual, a couple years after completion of the program. The notebook for this
                program is at https://github.com/onellvine/-Machine-Learning-Causal-Inference
            </li>
        </ul>
        <h3>PROFESSIONAL EDUCATION AND CERTIFICATION</h3>
        <ul>
            <li>2020 BSc. Mathematics and computer science Jomo Kenyatta University of Agriculture
                and Technology.</li>
            <li>Kenya Certificate of Secondary Education - KCSE A (82 pts)</li>
            <li>Proficiency in Python Programming and Database Systems.</li>
            <li>Ability to work with a variety of software; Linux based operating systems, and Virtual
                environments</li>
            <li>Familiar with Git Version Control.</li>
        </ul>
        <h3>HOBBIES</h3>
        <ul>
            <li>Coding</li>
            <li>Reading on emerging technologies</li>
        </ul>
        <h3>REFERENCES</h3>
        <ul style="list-style: none;">
            <li>Eng. Ngenoh Kibet, Senior Developer – Mambo Microsystems Inc. <br>
                +254726301706,</li>
            <li>Eng. Onoka Evans, B.Sc. Electrical and Electronic Engineering - JKUAT <br>
                +254710997855,</li>
            <li>Mr. Victor Makanda, High School Principal - Barding Secondary School <br>
                +254721371893</li>
        </ul>
    </div>
    <button class="btn-show">my resume</button>
{% endblock %}