body{
    font-family: 'Andika New Basic', sans-serif;   
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}
*::selection{
    background-color:#8be457;
}
.nav-menu{
    width: 100%;
    height: 100px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    /* background: #F5F5F5; */
    border-bottom: 3px solid #8BC34A;
}
.nav-link:hover{
    color:#03a9f4;
}
.logo, .links{
    float: left;
}
.logo{
    color: #512DA8;
    width: 300px;
    margin-left: 20px;
}
.logo > a{
    text-decoration: none;
    color: #512DA8;    
}
.links{
    position: absolute;
    right: 5px;
}
.links ol{
    list-style: none;
    display: flex;
    justify-content: center;
}
.links ol li a {
    color: #512DA8;
    text-decoration: none;
}
.links ol li{
    margin-top: 15px;
    width: 200px;
    text-transform: uppercase;
}
.clear{
    clear: both;
}

.content{
    padding: 60px;
}
.row-flex{
    display: flex;
    justify-content: space-around;
}
.greetings{
    color: #263238;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    font-size: 1.8em;
}
button, input[type='submit']{
    padding: 10px;
    font: 20px "San Serif";
    background: #03a9f4;
    width: 150px;
    outline: none;
    border: none;
    border-radius: 15px;
}
.photo{
    padding: 2px;
}
.about-section{
    background: none;
}
.about-photo{
    float: left;
    padding-left: 20px;
    background: none;
    width: 40%;    
}
.about-me{
    float: left;
    width: 45%;
    font-size: 20px;
    line-height: 35px;
    padding: 40px;
}
.about me h2{
    font: "Monaco";
    font-size: 1.9em;
}

.contacts{
    text-align-last: center;
    color: #263238;
}
.email-address{
    text-decoration: none;
    color: inherit;
}
.contacts p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
hr{
    border: 2px solid #8BC34A;
}
.footer{
    text-align: center;
    text-transform: lowercase;
    color: #1b5e20;
    font-weight: bolder;
    font-size: 1.1em;
}

/* ==================== portfolio ================= */  
.row{
    display: flex;
    flex-wrap: wrap;    
}
.col{
    border-radius: 10px;
    margin: 10px;
    width: 31%;
}
.col > a{
    color: #263238;
    text-decoration: none;
}
a > img, .detail-img {
    border-radius: 10px;
}

/* ================== detail ===================== */ 
.project-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-title > h3{
    text-align: left;
    float: left;
}
.tags{
    float: right;
    list-style: none;
}
.tags li{
    float: left;
    margin: 2px;
    font-size: 0.8em;
    padding: 0px 4px;
    color: #fff;
    background-color: #03a9f4;
    border-radius: 8px;
}

/* ================== resume ===================== */ 
.content > h2{
    text-align: center;
    margin: 0;
}

/* ================== cover letter ===================== */ 
.cover-letter, .resume{
    background-color: #F5F5F5;
    margin: 0 auto;
    width: 6.5in;
    padding: 1.5in;
    font-size: 12pt;
    line-height: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.name, .tel, .anchor{
    text-align: center;
}
.btn-show{
    display: none;
}

/* ================== hire me ===================== */ 
.contact-form{
    padding: 0 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
label{
    display: inline-block;
    min-width: 120px;
    font-size: 1.2em;
}
input[type='text']{
    font-family: 'Andika New Basic', sans-serif;
    border: 2px solid #512DA8;
    height: 25px;
    width: 300px;
    border-radius: 6px;
}
textarea{
    font-family: 'Andika New Basic', sans-serif;
    border: 2px solid #512DA8;
    border-radius: 7px;
    margin-bottom: 0;
}



/* ================== mobile phone screens =============== */
@media only screen and (max-width: 600px) {
    body{
        font-size: 0.9em;
        padding: 0px;
    }
    .nav-menu{
        width: 100%;
        height: unset;
    }
    .logo, .links{
        float: unset;
    }
    .logo{
        color: #512DA8;
        text-align: center;
    }
    .links{
        position: unset;
    }
    .links ol{
        list-style: none;
        display: inline;
        text-align: center;
    }
    .links ol li a {
        text-decoration: none;
    }
    .links ol li{
        width: 100%;
        text-transform: uppercase;
    }
    .content{
        padding: 4px;
    }
    .greetings{
        width: 100%;
        float: left;
    }
    .photo img{
        display: none;
    }
    .about-me{
        float: unset;
        padding: 5px;
        width: 100%;
    }
    .about-photo img{
        display: none;        
    }
    button{
        width: 100%;
    }
    .cover-letter, .resume{
        display: block;
        margin: 4px;
        padding: 4px;
    }
    .cover-letter > p, .resume > p, .cover-letter > p > a, .resume > p > a{
        word-wrap: break-word;
    }
    .btn-show{
        display: block;
    }
    .contact-form{
        padding: 5px;
    }
    label{
        display: inline-block;
        min-width: 120px;
        font-size: 1.2em;
    }
    input[type='text']{
        width: unset;
    }
    textarea{
        width: 100%;
    }

  }

/* ================== tablet screens ===================== */
@media only screen and (max-width: 961px) {
    .logo {
        float: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .links{
        border-bottom: 3px solid #8BC34A;
        float: none;
        position: unset;
        display: inline-block;
        width: 100%;
    }
    links > ol > li{
        margin-right: 10px;
    }
    .nav-menu{
        width: unset;
    }
    .content{
        margin-top: 20px;
        padding: 20px;
    }
    .photo{
        display: absolute;
        right: 20px;
    }
    .photo img{
        width: 100%;
    }
    .about-photo{
        display: none;
    }
    .about-me{
        float: unset;
        width: auto;
        font-size: 18px;
        padding: 10px;
    }
    label{
        margin-top: 10px;
    }
    .cover-letter, .resume{
        padding: 15px;
        width: inherit;
    }
}


/* ================== desktop screens ===================== */
@media only screen and (min-width: 1224px) {
.about-photo{
    margin-left: 20px;
}
.photo{
    margin-top: -35px;
}
.photo:hover, .about-photo:hover{
    box-shadow: 0 0 0 5px rgba(19, 167, 204, 0.1);
}
}

/* ================== extra large screens ===================== */ 
@media only screen and (min-width: 1900px) {
.about-photo{
    margin-left: 90px;
}
.photo{
    margin-top: -35px;
}
.photo:hover, .about-photo:hover{
    box-shadow: 0 0 0 5px rgba(19, 167, 204, 0.1);
}
}

